<div class="dashboard-container">
  <nav class="sidebar">
    <ul>
   
      <ng-container *ngIf="authService.isAdmin()">
        <li>
          <a routerLink="/admin/inventory-history" routerLinkActive="active"><i class="fas fa-home"></i> Dashboard</a>
        </li>
        <li>
          <a routerLink="/admin/inventory" routerLinkActive="active"><i class="fas fa-boxes"></i> Inventory</a>
        </li>
        <li>
          <a routerLink="/admin/customers" routerLinkActive="active"><i class="fas fa-users"></i> Customers</a>
        </li>
        <li>
          <a routerLink="/admin/orders" routerLinkActive="active"><i class="fas fa-shopping-cart"></i> Orders</a>
        </li>
        <li>
          <a routerLink="/admin/admin-create-user" routerLinkActive="active"><i class="fas fa-user-plus"></i> Registration</a>
        </li>
        <li>
          <a routerLink="/admin/employees" routerLinkActive="active"><i class="fas fa-id-card"></i> Employee</a>
        </li>
        <li>
          <a routerLink="/admin/profile" routerLinkActive="active"><i class="fas fa-user"></i> Profile</a>
        </li>
        
      </ng-container>


      <ng-container *ngIf="authService.isEmployee()">
        <li>
          <a routerLink="/employee/inventory-history" routerLinkActive="active"><i class="fas fa-home"></i> Dashboard</a>
        </li>
        <li>
          <a routerLink="/employee/inventory" routerLinkActive="active"><i class="fas fa-boxes"></i> Inventory</a>
        </li>
        <li>
          <a routerLink="/employee/orders" routerLinkActive="active"><i class="fas fa-shopping-cart"></i> Orders</a>
        </li>
        <li>
          <a routerLink="/employee/customers" routerLinkActive="active"><i class="fas fa-users"></i> Customers</a>
        </li>
        <li>
          <a routerLink="/employee/profile" routerLinkActive="active"><i class="fas fa-user"></i> Profile</a>
        </li>
      
       
      </ng-container>


      <ng-container *ngIf="authService.isCustomer()">
        <li>
          <a routerLink="/customer/orders" routerLinkActive="active"><i class="fas fa-shopping-bag"></i> My Orders</a>
          <a routerLink="/customer/shop" routerLinkActive="active"><i class="fas fa-bicycle"></i> Browse Cycles</a>
        </li>
      </ng-container>

  
      <li class="logout-item">
        <button (click)="authService.logout()" class="logout-btn">Logout</button>
      </li>
    </ul>
  </nav>
  
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>